/* IRANSans */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./IRANSans4/WebFonts/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./IRANSans4/WebFonts/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./IRANSans4/WebFonts/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./IRANSans4/WebFonts/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Light.eot');
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./IRANSans4/WebFonts/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./IRANSans4/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./IRANSans4/WebFonts/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./IRANSans4/WebFonts/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./IRANSans4/WebFonts/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot');
    src: url('./IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./IRANSans4/WebFonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./IRANSans4/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./IRANSans4/WebFonts/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

/* Vazir */
@font-face {
    font-family: Vazir;
    src: url('./Vazir/vazir-font-v3.1.0/Vazir.eot');
    src: url('./Vazir/vazir-font-v3.1.0/Vazir.eot?#iefix') format('embedded-opentype'), url('./Vazir/vazir-font-v3.1.0/Vazir.woff') format('woff'), 
    url('./Vazir/vazir-font-v3.1.0/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Bold.eot');
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('./Vazir/vazir-font-v3.1.0/Vazir-Bold.woff') format('woff'), url('./Vazir/vazir-font-v3.1.0/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Light.eot');
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('./Vazir/vazir-font-v3.1.0/Vazir-Light.woff') format('woff'), url('./Vazir/vazir-font-v3.1.0/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Medium.eot');
    src: url('./Vazir/vazir-font-v3.1.0/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('./Vazir/vazir-font-v3.1.0/Vazir-Medium.woff') format('woff'), url('./Vazir/vazir-font-v3.1.0/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

/* Rezvan */
@font-face {
    font-family: Rezvan;
    src: url('./Rezvan/fonts/REZVAN.eot');
    src: url('./Rezvan/fonts/REZVAN.eot?#iefix') format('embedded-opentype'), url('./Rezvan/fonts/REZVAN.woff') format('woff'), url('./Rezvan/fonts/REZVAN.ttf') format('truetype');
    font-weight: normal;
}

/* Entezar */
@font-face {
	font-family: 'Entezar1';
	src: url('./Entezar/Entezar1/fonts/Entezar1.eot');
	src: url('./Entezar/Entezar1/fonts/Entezar1.woff') format('woff'), url('./Entezar/Entezar1/fonts/Entezar1.ttf') format('truetype'), url('./Entezar/Entezar1/fonts/Entezar1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Entezar4';
    src: url('./Entezar/Entezar4/fonts/Entezar4.eot');
    src: url('./Entezar/Entezar4/fonts/Entezar4.woff2') format('woff2'), url('./Entezar/Entezar4/fonts/Entezar4.eot?#iefix') format('embedded-opentype');
    src: url('./Entezar/Entezar4/fonts/EntezareZohoor4.woff') format('woff'), url('./Entezar/Entezar4/fonts/EntezareZohoor4.ttf') format('truetype'), url('./Entezar/Entezar4/fonts/EntezareZohoor4.svg#EntezareZohoor4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntezarC';
    src: url('./Entezar/EntezarC/fonts/EntezarC.eot');
    src: url('./Entezar/EntezarC/fonts/EntezarC.woff2') format('woff2'), url('./Entezar/EntezarC/fonts/EntezarC.eot?#iefix') format('embedded-opentype');
    src: url('./Entezar/EntezarC/fonts/EntezareZohoorC.woff') format('woff'), url('./Entezar/EntezarC/fonts/EntezareZohoorC.ttf') format('truetype'), url('./Entezar/EntezarC/fonts/EntezareZohoorC.svg#EntezareZohoorC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TwCenMT';
  src: url('./TwCenMT/fonts/TwCenMT-Regular.woff') format('woff'),
       url('./TwCenMT/fonts/TwCenMT-Regular.ttf') format('truetype'),
       url('./TwCenMT/fonts/TwCenMT-Regular.svg#TwCenMT-Regular') format('svg');
  src: url('./TwCenMT/fonts/ufonts.com_tw-cen-mt.eot');
  src: url('./TwCenMT/fonts/ufonts.com_tw-cen-mt.woff2') format('woff2'),
       url('./TwCenMT/fonts/ufonts.com_tw-cen-mt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.fa-IRANSans {
    font-family: "IRANSans";
}

.fa-Vazir {
    font-family: "Vazir";
}

.fa-Rezvan {
    font-family: "Rezvan";
}

.fa-Entezar1 {
    font-family: "Entezar1";
}

.fa-Entezar4 {
    font-family: "Entezar4";
}

.fa-EntezarC {
    font-family: "EntezarC";
}

.fa-TwCenMT {
    font-family: "TwCenMT";
}