/*
TABLE CONTENTS
---------------------------
	Global
    Reset
    Sections
    Colors
    Miscellaneous
    JournalPortal 
    Responsive
---------------------------
*/


/* Global */

html,
body {
    height: 100%;
}

body {
    color: #333;
    background-color: #fff;
    font-family: IRANSans, Vaziri, Tahoma;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body #wrapper {
    overflow: hidden;
    min-height: 100%;
}

section {
    display: block;
    position: relative;
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
}

section:after,
section:before {
    content: " ";
    display: table;
}

.col-half-offset {
    margin-left: 1.666666667%
}


/* Reset */

a:focus,
a:hover {
    color: #6d3628;
    text-decoration: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #333;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #333;
    /* Firefox */
}

::-webkit-selection {
    color: #fff;
    text-shadow: none;
    background: #333;
    /* Safari */
}

input:-webkit-autofill {
    color: #ffffff !important;
}

textarea {
    resize: none;
}

textarea,
input,
button,
*:focus {
    outline: none !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    background-color: #6d3628;
}

textarea {
    resize: vertical;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    outline: 0 none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
  color: #1091a7;
  opacity: .6;
}

::-moz-placeholder {
  color: #1091a7;
  opacity: .6;
}

:-ms-input-placeholder {
  color: #1091a7;
  opacity: .6;
}

:-moz-placeholder {
  color: #1091a7;
  opacity: .6;
}

.form-control::-webkit-input-placeholder {
  color: #1091a7;
  opacity: .6;
}

.form-control::-moz-placeholder {
  color: #1091a7;
  opacity: .6;
}

.form-control:-ms-input-placeholder {
  color: #1091a7;
  opacity: .6;
}

.form-control:-moz-placeholder {
  color: #1091a7;
  opacity: .6;
}

.navbar {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-toggle {
    border: 1px solid #fff;
    margin-right: 15px;
    margin-left: auto;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-graybg {
    background-color: #dde0de;
}

.navbar-graybg .navbar-collapse {
    border-top: 1px solid #999;
}

#footer-menu .navbar-toggle {
    border: 1px solid #555;
    margin-right: 15px;
    margin-left: auto;
}

#footer-menu .navbar-toggle .icon-bar {
    background-color: #555;
}

.form-control {
    color: #9c3c25;
    background-color: #e2e1dd;
    border-color: #e2e1dd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    padding: 25px 10px;
}

.form-control:focus {
    border-color: rgba(231, 231, 243, 1);
    ;
}

.carousel-indicators {
    right: 90%;
    bottom: 4%;
    margin-bottom: 0;
}

.carousel-caption {
    background-color: #857362;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.carousel-caption_title {
    font-size: 15px;
    text-align: right;
    padding: 0 15px 7px;
}


/* section */

#header {
    margin-top: 40px;
}

@media (min-width: 768px) {
    #subjects .col-md-2 {
        width: 18.66666667%;
        padding-right: 0;
        padding-left: 0;
    }

    #subjects .col-md-2:first-child {
        padding-right: 15px;
    }

    #subjects .col-md-2:last-child {
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    #information .col-md-7 {
        padding-right: 0;
    }
}

#information,
#services {
    margin-top: 30px;
}

#footer-menu .navbar {
    margin-bottom: 0;
    border: none;
}

#footer-menu .nav>li>a {
    color: #333;
    font-weight: 500;
    font-size: 21px;
    padding: 15px 25px;
}

#footer-menu .nav>li>a:hover {
    color: #fff;
}


/* Colors */

.white {
    color: #fff;
}

.whitebg {
    background-color: #fff;
}

.black {
    color: #000;
}

.brown {
    color: #9c3c25;
}

.brown-dark {
    color: #6d3628;
}

.brownbg {
    background-color: #6d3628;
}

.navbar-brown {
    background-color: #9c3c25;
    border-radius: 5px;
    margin-top: 15px;
}

.Pearl {
    color: #e0cec3;
}

.Pearl-dark {
    color: #c9a892;
}

.Pearlbg {
    background-color: #e0cec3;
}

.Pearlbg-dark {
    background-color: #c9a892;
}

.Pearl-gradient {
    background: #e0cfc3;
    background: -moz-linear-gradient(top, #e0cfc3 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e0cfc3), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e0cfc3 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e0cfc3 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e0cfc3 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e0cfc3 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0cfc3', endColorstr='#ffffff', GradientType=0 );
    min-height: 100px;
    margin-bottom: -80px;
    z-index: -2
}

.gray {
    color: #a6a7a7;
}

.graybg {
    background-color: #dde0de;
}


/* Miscellaneous */

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.pl-0 {
    padding-left: 0px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-0 {
    padding-right: 0px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.ph-0 {
    padding-left: 0;
    padding-right: 0;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.ph-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.ph-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pv-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pv-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pv-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pv-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pv-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.border-clear {
    border: none !important;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 600
}

.img-margin {
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}

.circle {
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;                            
}

.nav>li>a {
    color: #fff;
    padding: 15px 34px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #5f2f23;
    color: #efeff6;
    -webkit-transition: padding 0s linear, color 0.5s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: padding 0s linear, color 0.5s ease-in-out, background-color 0.3s ease-in-out;
    transition: padding 0s linear, color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}


/* JournalPortal */

.JournalPortal-topHeader {
    z-index: 111;
}

.JournalPortal-officailWeb_link {
    color: #d20901;
}

.JournalPortal-officailWeb_link:hover {
    color: #9c3c25;
}

.JournalPortal-siteTitle {
    color: #1d91a5;
    font-family: "Entezar1";
    font-size: 18px;
}

.JournalPortal-siteSubTitle {
    color: #ff3d01;
    font-family: "Vazir";
    font-size: 18px;
    font-weight: 500;
}

.JournalPortal-officialSiteTitle {
    color: #857362;
    font-family: "Entezar4";
    font-size: 62px;
    line-height: .8;
    z-index: 1;
}

.JournalPortal-siteDescription {
    font-family: Segoe UI;
}

.JournalPortal-siteTitle_en {
    border: 1px solid #7279ba;
    border-right: none;
    font-size: 19px;
    font-weight: bold;
    padding: 5px;
}

.JournalPortal-description {
    font-family: Segoe UI;
    font-size: 11px;
}

.JournalPortal-search {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 20px 35px;
}

.JournalPortal-search_title {
    font-size: 18px;
}

.JournalPortal-search_dash {
    font-size: 35px;
    font-weight: 600;
}

.JournalPortal-search_btn {
    color: #fff;
    background-color: #37b0c9;
    font-family: "Entezar1";
    font-size: 22px;
    padding: 10px 0;
}

.JournalPortal-header {
    background-color: #857362;
    border: 1px solid #857362;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
}

.JournalPortal-header_title {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    margin: 0;
}

.JournalPortal-body {
    border: 1px solid #dde0de;
    border-radius: 0 0 4px 4px;
    padding: 15px 10px;
    height: 200px;
    overflow: auto;
}

.JournalPortal-body-table {
    margin-bottom: 0;
}

.JournalPortal-body-table-td {
    padding: 0 !important;
    line-height: 1.5 !important;
    font-weight: 500;
}

.JournalPortal-body_link {
    color: #111;
    line-height: 1.8;
    text-transform: uppercase;
}

.JournalPortal-notification {
    background-color: #c8e2ea;
    border-radius: 4px;
    padding: 5px 15px;
}

.JournalPortal-notification_title {
    color: #05869c;
    font-family: "Entezar1";
    margin-top: 15px;
}

.JournalPortal-notification_bodyLink {
    color: #4f4f4f;
    font-weight: 500;
    line-height: 2;
}

.JournalPortal-notification_bodyLink > .fa-circle {
    color: #857362;
}

.JournalPortal-notification_bodyLink:hover {
    color: #9c3c25;
}

.JournalPortal-services_bodyLink {
    color: #4f4f4f;
    font-weight: 500;
    line-height: 2;
}

@media (max-width: 991px) {
    .JournalPortal-services.row {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.JournalPortal-services_bodyLink > .fa-circle {
    color: #9c3c25;
}

.JournalPortal-services_bodyLink:hover {
    color: #9c3c25;
}

.JournalPortal-publicList {
    border: 1px solid #c7c7c7;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    padding: 2px 5px;
    margin: 5px 0;
}

@media (min-width: 768px) {
    .JournalPortal-publicList {
        margin-right: -30px; 
        margin-left: -15px; 
    }
}

.JournalPortal-publicList_title {
    font-size: 12px;
    font-weight: 600;
}

.JournalPortal-valid>.JournalPortal-notification_bodyLink {
    display: flex;
    align-items: top;
}

.JournalPortal-valid_img {
    vertical-align: text-bottom;
    margin-left: 5px;
}

.JournalPortal-valid_title {
    display: inline-block;
    font-weight: 500;
}

.JournalPortal-news {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 0 15px 20px;
}

.JournalPortal-newsTitle {
    color: #05869c;
    font-family: "Entezar1";
}

.JournalPortal-news_title {
    margin-top: 15px;
}

.JournalPortal-news_bodyLink {
    color: #4f4f4f;
    line-height: 2;
}

.JournalPortal-newLink_title {
    font-size: 12.5px;
    font-weight: 600;
    margin-bottom: 5px;
}

.JournalPortal-news_bodyLink:hover {
    color: #9c3c25;
}

.JournalPortal-news_bodyLink>.fa-circle {
    color: #9c3c25;
}

.JournalPortal-eCommerce {
    background-color: #c8e2ea;
    border-radius: 4px;
    padding: 5px 15px;
}

.JournalPortal-eCommerce_title {
    color: #108ba1;
    font-family: "Entezar1";
    margin-top: 15px;
}

.JournalPortal-eCommerce_bodyLink {
    color: #000;
    line-height: 2;
}

.JournalPortal-eCommerce_bodyLink:hover {
    color: #9c3c25;
}

.JournalPortal-main-footer {
    background-color: #9c3c25;
}

.footer-section__header {
    margin-top: 0;
}

.JournalPortal-FeedBackModal {
    color: #fff;
}

.JournalPortal-FeedBackModal:hover {
    color: #e2e1dd;
}


/* searchDetail */

.search-count {
    border: 1px solid #a6a7a7;
    border-radius: 4px;
    padding: 10px;
}

.search-count_title {
    font-size: 20px;
    margin-top: 5px;
}

.search-count_subtitle {
    margin: 0px;
}

.search-again-title {
    font-family: 'Rezvan';
    font-size: 22px;
    margin: 0;
}

.search-again-subtitle {
    font-weight: 500;
    margin-top: 4px;
}

.search-again-filter_title {
    font-size: 18px;
}

.search-again-filter_select {
    display: block;
    color: #7279ba;
    border-radius: 4px;
    background-color: rgba(231, 231, 243, 0.8);
    border-color: rgba(231, 231, 243, 0.8);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: 600;
    padding: 5px;
    width: 100%;
}


/* RankEvaluation */

.rank-evaluation-top {
    border: 1px solid #949494;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 12px 10px 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.rank-evaluation-top-picture {
    position: absolute;
    right: 30px;
    top: 0;
    width: 110px;
    height: 140px;
    background: #e7e8ea;
    border: 1px solid silver;
}

.rank-evaluation-top-picture img {
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    border: 1px solid silver;
    padding: 1px;
}


/*.rank-evaluation-top-picture img[src=""] {
    display: none;
}*/

.rank-evaluation-top-picture img+.fa.fa-book,
.rank-evaluation-top-picture i.fa.fa-book {
    position: absolute;
    top: 22%;
    right: 0;
    left: 2px;
    margin: auto;
    font-size: 80px;
    display: block;
    color: #a5aeb6;
    text-align: center;
}

.rank-evaluation-top-picture img[src]+.fa.fa-book {
    display: none;
}

.rank-evaluation-top_title {
    margin-top: 20px;
}

.rank-evaluation-top_subtitle {
    font-weight: bolder;
    font-size: 40px;
}

.rank-evaluation-bottom {
    background-color: #e7e7e7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px 10px;
}

.rank-evaluation-bottom-titleFa {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}

.rank-evaluation-bottom-titleEn {
    font-size: 13px;
    margin-top: 5px;
}

.rank-evaluation-bottom-detail {
    min-height: 330px;
}

.rank-evaluation-bottom-detailTitle {
    font-weight: 500;
}

.rank-evaluation-bottom-detailDescription {
    font-weight: 500;
}

.rank-evaluation-bottom-link {
    margin-top: 10px;
}

.rank-evaluation-bottom-linkTitle {
    font-weight: 500;
}

.rank-evaluation-bottom-linkTitle:hover {
    color: #008d44;
}


/* FormPage */

.FormPage {
    margin-top: -20px;
    margin-bottom: -20px;
    background: #f1f3f6;
    border-top: 10px solid #fff;
    ;
    position: relative;
    text-align: center;
    font-family: tahoma;
    padding: 10px 0px;
    margin: 5px 0px;
}

.FormPage a,
.FormPage span {
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: IRANsans, tahoma;
    font-weight: 400;
    border: none;
    margin: 0;
}

.FormPage a {
    display: inline-block;
    padding: 3px 6px 5px;
    margin-left: 3px;
    color: #495A62;
    font-size: 14px;
}

.FormPage span {
    background: #f2f1ee;
    border: 2px solid #3498db;
    display: inline-block;
    color: #495A62;
    box-shadow: 0px 0px 1px 1px #FFF inset;
    font-size: 14px;
}

.FormPage a.aspNetDisabled {
    color: #C6C6C6;
    background: transparent !important;
}


/* fa-icon */

.fa-border-link {
    padding: 0.4em;
    border: solid 0.2em #fff;
    border-radius: 1em;
}

.fa-border-info {
    padding: 0.4em .7em;
    border: solid 0.2em #fff;
    border-radius: 1em;
}


/* Selec2 */

.select2-container--default .select2-selection--single {
    display: block;
    color: #7279ba;
    background-color: rgba(231, 231, 243, 0.8);
    border-color: rgba(231, 231, 243, 0.8);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: 600;
    padding: 5px;
    width: 100%;
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: #7279ba;
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    ;
    left: 1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #7279ba transparent transparent transparent;
    border-width: 6px 3px 0 3px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #7279ba transparent;
    border-width: 0 3px 6px 3px;
}

.select2-dropdown {
    border: 1px solid #ebebf5;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #7279ba;
    direction: rtl;
}

.select2-results {
    direction: rtl;
}


/* Responsive */

@media screen and (min-width: 768px) {}